h1, 
h2, 
h3,
a, 
p {
  font-family: "Arial", sans-serif;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  }

nav li {
  margin: 0 auto;
  padding-right: 1rem;
  box-sizing: border-box;
}

nav a {
  line-height: 1.5rem;
  font-size: 1rem;
  color: blue;
  font-weight: bold;
  }

.navbar {
  position: absolute;
  top: 0rem; 
  width: 99%;
  }

.content {
  background-image: url("../images/Monaco_map_with_text.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 680px;
  width: 100%;
  }
